# Ignore files in /tmp directory
tmp/*

# Ignore dependencies in /vendor directory
vendor/*
!vendor/.gitkeep

# Ignore Logs
*.log
logs/*
!logs/.gitkeep

# Ignore file containing environment variables 
App/configs/env.php

# Ignore IDE specific files
.vscode/git
node_modules