# Ignore files in /tmp directory
tmp/*

# Ignore dependencies in /vendor directory
vendor/*
!vendor/.gitkeep

# Ignore Logs
log/*
*.log

# The file containing environment variables 
config/env.php

# Ignore IDE specific files
.vscode/git