# Ignore files in /tmp directory
/tmp/*
!logs/.gitkeep

# Ignore dependencies in /vendor directory
/vendor/**

# Ignore Logs
*.log

# Ignore the build directory
/dist

# The file containing environment variables 
.env

# Ignore IDE specific files
.vscode/