Options -Indexes
Options -Multiviews

RewriteEngine On

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteRule ^$ public/ [L]
RewriteRule ^(.*)$ public/$1 [L]